.CountryCard {
    width: 260px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #dedede;
    cursor: pointer;
}

.DarkCoutryCard {
    background:#2B3743;
    box-shadow: 3px 3px 5px #202C35;
}

.FlagContainer {
   height: 160px;
}

.CountryCard img {
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.CardContent {
    padding: 5px 25px 45px 25px;
    font-size: 14px;
}

.CardContent h2 {
    font-family: 'NunitoSansBold';
    font-size: 16px;
}

.subtitle {
    font-family: 'NunitoSansSemiBold';
}

.CardContent div {
    margin-bottom: 5px;
}

