.backBtn {
    margin: 50px 0;
    cursor: pointer;
    width: 50px;
}

.countryDetailsWrapper {
    display: flex;
}

.flag {
    width: 45%;
}   

.infoContainer {
    margin-left: 120px;
    margin-top: 40px;
    width: 40%;
}

.info {
    display: flex;
}

.column {
    margin-left: 80px;
}

